.player {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__container {
  width: 400px;
  height: 400px;
  border: 5px solid white;
  padding: 20px;
}

h1 {
  font-size: 1.2em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

.player__plusminus-button {
  display: flex;
  justify-content: space-between;
}

.quantity-button {
  height: 70px;
  width: 150px;
  background: #0d7df5;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid white;
}

.quantity-button:disabled,
.quantity-button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.reset-button {
  background: red;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 5px solid lightgray;
}
