.player {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__container {
  border: 5px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.player__decincnumber {
  display: none;
}

h1 {
  font-size: 1.2em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

.player__plusminus-button {
  display: flex;
  justify-content: space-between;
}

.quantity-button {
  height: 50px;
  width: 120px;
  margin: 0 10px;
  background: #088395;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
}

.quantity-button:disabled,
.quantity-button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.reset-button {
  background: #05bfdb;
  padding: 10px;
  margin: 20px 10px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  width: -webkit-fill-available;
  border: 2px solid white;
  border-radius: 5px;
}

/* Decrement increment animation */
.plus-one {
  color: #00ffca;
  font-weight: bold;
  position: absolute;
  right: -20px;

  -webkit-animation-name: translation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: translation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.minus-one {
  color: red;
  font-weight: bold;
  position: absolute;
  right: -20px;

  -webkit-animation-name: translation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  animation-name: translation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes translation {
  from {
    top: 0;
    opacity: 100%;
  }
  to {
    opacity: 0%;
    top: -10em;
  }
}
